* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  color: #ededed;
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  /* background:#051129; */
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
ul.ul{
  list-style-type: circle;
}



.home-content h2
{
  color: #0ef;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #7da3f4;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #7da3f4;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}

.navbar a:hover {
  color: blueviolet;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-around;
  height: 100vh;
  background: #081b29;
  /* background: url("./images/lala.jpeg") no-repeat; */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
  z-index: 4;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: -1;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(162, 142, 214);
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7sec;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #0ef;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  max-width: -3px 0;
  color: rgb(162, 142, 214);
  /* opacity: 0; */
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 28px;
  color: rgb(162, 142, 214);
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

.Show-Morebtn-box
{
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

.btn-box1 {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 15px cyan, 0 0 15px cyan;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 200px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  padding: 100px;
}

.about-img {
  display: grid;
  place-items: center;
}

.about-img img {
  padding: bottom 20%;
  max-width: 500px;
  height: 1000px;
  width: 100%;
  border-radius: 8px;
}
.home-content h2{
  color: #0ef;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: #0ef;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.containers {
  position: relative;

  display: flex;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, transparent, #0004);
}
.containers .box {
  /* margin-left: 50px; */
  position: relative;
  width: 350px;
  height: 380px;
  background: #444;
  margin: 0 20px;
  border-radius: 20px;
  background: linear-gradient(
    45deg,
    #0ef 25%,
    #444 25%,
    #444 50%,
    #0ef 50%,
    #0ef 75%,
    #444 75%,
    #444 100%
  );
  background-size: 40px 40px;
  filter: grayscale(1);
  animation: animateBg 0.5s linear infinite;
  animation-play-state: paused;
  transition: filter 1s;
  display: flex;
  justify-content: center;
}

.containers .box:nth-child(2) {
  background: linear-gradient(
    135deg,
    #e775c4 25%,
    #444 25%,
    #444 50%,
    #e775c4 50%,
    #e775c4 75%,
    #444 75%,
    #444 100%
  );
  background-size: 40px 40px;
}

.containers .box:hover {
  animation-play-state: running;
  filter: grayscale(0);
}
@keyframes animateBg {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 40px;
  }
}
.containers .box img {
  position: absolute;
  bottom: 0;
  height: 90%;
  transition: height 0.5s;
}

.containers .box:hover img {
  height: 400px;
}

.service-section {
  justify-content: center;
}
.services {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.sub-title span {
  color: #0ef;
}

.sub-title span {
  color: #0ef;
}

.container {
  padding: 90px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list .service-card {
  cursor: pointer;
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13;
  border-radius: 20px;
  border-right: 13px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;

  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

.read:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 200px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.services-list div:hover {
  transform: translateY(-10px);
}

section {
  display: flex;
  flex-wrap: wrap;
}

.skill-section {
  padding: 100px;
  flex-direction: column;
}

.skill-section-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container1 {
  padding: 75px 90px;
}

.heading1 {
  /* margin-top: 20px; */
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}

.bar {
  font-size: 30px;
}

.Technical-bars .bar {
  margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
  margin-top: 0;
}

.Technical-bars .bar:last-child {
  margin-bottom: 0;
}

.Technical-bars .bar .info span {
  margin-bottom: 5px;
}

.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);

  transform-origin: left;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(1);
  transform-origin: left;
}

.progress-line.html span {
  width: 90%;
}

.progress-line.javascript span {
  width: 80%;
}

.progress-line.nodejs span {
  width: 95%;
}

.progress-line.mysql span
{
width: 90%;

}

.progress-line.mongodb span {
  width: 85%;
}

.progress-line.typescript span {
  width: 70%;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.progress-line.html span::after {
  content: "90%";
}

.progress-line.javascript span::after {
  content: "80%";
}

.progress-line.nodejs span::after {
  content: "95%";
}

.progress-line.mysql span::after
{
    content: "90%";
}
.progress-line.mongodb span::after {
  content: "85%";
}

.progress-line.typescript span::after {
  content: "90%";
}

.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.radial-bars {
  width: 100%;
  display: flex;
  /* height: 170px;
    margin-bottom: 10px;
    position: relative; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: 1;
  }
}

.path {
  stroke-width: 10;
  stroke: #0ef;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 30;
  }
}

@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 55;
  }
}

@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 40;
  }
}

@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 75;
  }
}

.radial-bars .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.radial-bar .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50px);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.portfolio-section {
  padding: 100px;
}
.portfolio {
  background: var(--second-bg-color);
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.portfolio-container .portfolio-box:hover .portfolio-img img {
  transform: scale(1.2);
  transition: all 0.5s;
}

.portfolio-box .portfolio-img {
  width: 100%;
}

.portfolio-box .portfolio-img img {
  width: 100%;
}

.portfolio-box .portfolio-details {
  padding: 20px;
  text-align: center;
}

.portfolio-box .portfolio-details h2 {
  margin-bottom: 10px;
}

.portfolio-box .portfolio-details p {
  color: #ffffff9e;
  margin: 20px 0;
  line-height: 1.3em;
}

.portfolio-box .portfolio-details button {
  border: none;
  background: #0ef;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #383838;
}

/* Contact US */
.contact-us {
  flex-direction: column;
}
.contact-us-header {
  margin: auto;
}

.contact-form-wrapper {
  margin: auto;
  display: flex;
}

.contact-form-wrapper .form-section {
  padding: 20px 50px;
}

.form-section .input-wrapper {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.form-section .input-wrapper:last-child {
  align-items: flex-start;
}

.form-section .input-wrapper .input-name {
  display: block;
  width: 150px;
  font-size: 20px;
}

.form-section .input-wrapper input,
.form-section .input-wrapper textarea {
  padding: 15px 20px;
  outline: none;
  background: transparent;
  border: 1px solid rgba(0, 238, 255, 0.48);
  color: #fff;
  border-radius: 5px;
  width: 500px;
}

.form-section .input-wrapper input:focus,
.form-section .input-wrapper textarea:focus {
  border: 1px solid rgba(0, 238, 255);
}

.input-wrapper div > button {
  display: block;
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background: #0ef;
  border: none;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 15px cyan, 0 0 15px cyan;
  transition: all 0.2s;
}

.input-wrapper div > button:hover {
  background: rgba(0, 238, 255, 0.819);
}

.address-section {
  width: 300px;
  padding: 50px 20px;
}

.address-section p {
  margin: 5px 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.67);
}


