* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
}

.mukta-extralight {
  font-family: "Mukta", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mukta-light {
  font-family: "Mukta", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mukta-regular {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mukta-medium {
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mukta-semibold {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mukta-bold {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mukta-extrabold {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-style: normal;
}


body {
  color: #ededed;
  background: #081b29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  /* background:#051129; */
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #081b29;
}

.home-content h2
{
  color: #0ef;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #7da3f4;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #7da3f4;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}

.navbar a:hover {
  color: blueviolet;
}

a.toggle-button {
  display: none;
  font-size: 2em;
  color: white !important;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar .close-btn{
  display: none;
}

.navbar .close-btn.active{
  display: block;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-around;
  height: 100vh;
  /* background: #081b29; */
  /* background: url("./images/lala.jpeg") no-repeat; */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
  z-index: 4;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url("./images/achievments.jpg") no-repeat center center; */
  opacity: 0.5;
  z-index: -1;
  background-size: cover;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 30px;
  color: rgb(162, 142, 214);
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7sec;
}

.home-content h3:nth-of-type(2) {
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #0ef;
}

.home-content h1 {
  font-size: 56px;
  color: rgb(162, 142, 214);
  margin: -10px 0 -23px;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 28px;
  color: rgb(162, 142, 214);
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

.Show-Morebtn-box
{
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

.btn-box1 {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 15px cyan, 0 0 15px cyan;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 200px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  padding: 100px;
}

.about-img {
  display: grid;
  place-items: center;
}



.homeImage img {
  padding: bottom 20%;
  max-width: 500px;
  height: 530px;

  width: 110%;
  border-radius: 8px;
}

.about-img img {
  padding: bottom 20%;
  max-width: 500px;
  height: 700px;
  width: 100%;
  object-position: top;
  object-fit: cover;
  border-radius: 8px;
}
.home-content h2{
  color: #0ef;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: #0ef;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 10px;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.about-info{
  margin: 10px 0;
}

.about-info h4{
  font-size: 24px;
}

.about-info p{
  margin-bottom: 20px;
}

.ul{
  margin-left: -10px;
}

.ul li{
  list-style: none;
  position: relative;
}

.ul li::before{
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: -30px;
  list-style-type: circle;
  width: 8px;
  height: 8px;
  background: #0ef;
  border-radius: 50%;
}

.ul li{
  font-family: "Mukta", sans-serif;
  margin: 15px;
  letter-spacing: 0.8px;
  font-weight: 300;
}

.containers {
  position: relative;

  display: flex;
  /* -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, transparent, #0004); */
}

.containers .box:hover {
  animation-play-state: running;
  filter: grayscale(0);
}
@keyframes animateBg {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 40px;
  }
}
.containers .box img {
  position: absolute;
  bottom: 0;
  height: 142%;
  transition: height 0.5s;
}

.containers .box:hover img {
  height: 400px;
}

.service-section {
  display: flex;
  justify-content: center;
}
.services {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.services ul{
  margin-left: 10px;
}

.services ul li{
  font-size: 16px;
  letter-spacing: 1px;
  display: none;
}

.services ul li.visible {
  display: list-item;
}


.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.sub-title span {
  color: #0ef;
}

.sub-title span {
  color: #0ef;
}

.container {
  padding: 90px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(2, 550px);
  grid-gap: 170px;
  margin-top: 50px;
}

.services-list .service-card {
  cursor: pointer;
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13;
  border-radius: 20px;
  border-right: 13px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.service-card .service-img-wrapper{
  text-align: center;
}

.service-card .service-img-wrapper img{
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.services-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;

  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

.read:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 200px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.services-list div:hover {
  transform: translateY(-10px);
}


.skill-section {
  padding: 100px;
  flex-direction: column;
}

.skill-section-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container1 {
  padding: 75px 90px;
}

.heading1 {
  /* margin-top: 20px; */
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}

.bar {
  font-size: 30px;
}

.Technical-bars .bar {
  margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
  margin-top: 0;
}

.Technical-bars .bar:last-child {
  margin-bottom: 0;
}

.Technical-bars .bar .info span {
  margin-bottom: 5px;
}

.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);

  transform-origin: left;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(1);
  transform-origin: left;
}

.progress-line.html span {
  width: 90%;
}

.progress-line.javascript span {
  width: 80%;
}

.progress-line.nodejs span {
  width: 95%;
}

.progress-line.mysql span
{
width: 90%;

}

.progress-line.mongodb span {
  width: 85%;
}

.progress-line.typescript span {
  width: 70%;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.progress-line.html span::after {
  content: "90%";
}

.progress-line.javascript span::after {
  content: "80%";
}

.progress-line.nodejs span::after {
  content: "95%";
}

.progress-line.mysql span::after
{
    content: "90%";
}
.progress-line.mongodb span::after {
  content: "85%";
}

.progress-line.typescript span::after {
  content: "90%";
}

.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.radial-bars {
  width: 100%;
  display: flex;
  /* height: 170px;
    margin-bottom: 10px;
    position: relative; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: 1;
  }
}

.path {
  stroke-width: 10;
  stroke: #0ef;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 30;
  }
}

@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 55;
  }
}

@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 40;
  }
}

@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 75;
  }
}

.radial-bars .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.radial-bar .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50px);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.portfolio-section {
  padding: 100px;
  display: grid;
  place-items: center;
}

.portfolio-section .sub-title{
  margin-bottom: 40px;
}

.portfolio {
  background: var(--second-bg-color);
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 440px);
  justify-content: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.portfolio-container .portfolio-box:hover .portfolio-img img {
  transform: scale(1.2);
  transition: all 0.5s;
}

.portfolio-box .portfolio-img {
  width: 100%;
  overflow: hidden;
  height: 280px;
}

.portfolio-box .portfolio-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-box .portfolio-details {
  padding: 20px;
  text-align: center;
}

.portfolio-box .portfolio-details h2 {
  margin-bottom: 10px;
}

.portfolio-box .portfolio-details p {
  color: #ffffff9e;
  margin: 20px 0;
  line-height: 1.3em;
}

.portfolio-box .portfolio-details button {
  border: none;
  background: #0ef;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #383838;
}

.portfolio-box ul li{
  margin: 16px 0;
  font-family: "Mukta";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  list-style: none;
  line-height: 20px;
}

/* Contact US */
.contact-us {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}
.contact-us-header {
  margin: auto;
}

.contact-form-wrapper {
  margin: auto;
  display: flex;
}

.contact-form-wrapper .form-section {
  padding: 20px 50px;
}

.form-section .input-wrapper {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.form-section .input-wrapper:last-child {
  align-items: flex-start;
}

.form-section .input-wrapper .input-name {
  display: block;
  width: 150px;
  font-size: 20px;
}

.form-section .input-wrapper input,
.form-section .input-wrapper textarea {
  padding: 15px 20px;
  outline: none;
  background: transparent;
  border: 1px solid rgba(0, 238, 255, 0.48);
  color: #fff;
  border-radius: 5px;
  width: 500px;
}

.form-section .input-wrapper input:focus,
.form-section .input-wrapper textarea:focus {
  border: 1px solid rgba(0, 238, 255);
}

.input-wrapper div > button {
  display: block;
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background: #0ef;
  border: none;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 15px cyan, 0 0 15px cyan;
  transition: all 0.2s;
}

.input-wrapper div > button:hover {
  background: rgba(0, 238, 255, 0.819);
}

.address-section {
  width: 300px;
  padding: 50px 20px;
}

.address-section h3 {
  margin-bottom: 8px;
}

.address-section p, .address-section span{
  font-family: "Mukta";
  font-size: 16px;
  line-height: 20px;
}

.address-section p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.67);
}

@media (max-width: 1580px) {
  .portfolio-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .container {
    padding: 0px;
  }
}

@media (max-width: 1280px) {
  .about{
    padding: 100px 23px;
  }
  .services-list {
    grid-template-columns: repeat(2, 450px);
    gap: 50px;
  }
  .portfolio-section {
    padding: 100px 50px;
  }
  .portfolio-box .portfolio-img {
    height: 200px;
  }
  .contact-form-wrapper{
    flex-wrap: wrap;
    justify-content: center;
  }
  .container1 {
    padding: 75px 11px;
  }
}

@media (max-width: 1000px) {
  .header{
    padding: 20px 4%;
  }
  .navbar a {
    font-size: 20px;
  }
  .homeImage img {
    height: 386px;
  }
  .about-img img {
    width: 85%;
  }
  .about-text h2 {
    font-size: 40px;
  }
  .services-list {
    grid-template-columns: repeat(2, 350px);
    gap: 50px;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-box .portfolio-details h1{
    font-size: 22px;
  }
  .sub-title {
    font-size: 36px;
  }
  .heading1 {
    font-size: 1.5rem;
  }
  .skill-section {
    padding: 100px 50px;
  }
  .radial-bars .radial-bar {
    width: 40%;
  }
  .form-section .input-wrapper input, .form-section .input-wrapper textarea {
    width: 392px;
  }
}

@media (max-width: 870px) {
  .home {
    flex-direction: column;
  }
  .home-content {
    margin: 40px 0 20px;
  }
  .home-sci a {
    margin: 22px 15px 12px 0;
  }
  .about{
    display: flex;
    flex-direction: column-reverse;
    padding: 100px;
  }
  .about-img img {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .services-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .portfolio-container {
    grid-gap: 1rem;
  }
  .about-img{
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
  }
  .services-list .service-card {
    margin: 10px 50px;
  }
}


@media (max-width: 700px) {
  .skill-section-inner {
    grid-template-columns: 1fr;
  }
  .navbar ul{
    background: #081b29;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    transition: all 0.3s;
    padding-top: 100px;
  }
  .navbar ul.active{
    right: 0%;
  }
  .navbar ul a{
    display: block;
    padding: 10px 0;
  }
  a.toggle-button {
    display: block;
  }
}

@media (max-width: 650px) {
  .home-content h3 {
    font-size: 23px;
  }
  .home-content h1 {
    font-size: 40px;
  }
  .about {
    padding: 100px 50px;
  }
  .about-text h2 {
    font-size: 30px;
  }
  .portfolio-container {
    grid-template-columns: 1fr;
  }
  .contact-form-wrapper .form-section {
    padding: 20px 10px;
  }
  .form-section .input-wrapper input, .form-section .input-wrapper textarea {
    width: 362px;
  }
}

@media screen and (max-width: 580px) {
  .form-section .input-wrapper .input-name {
    width: 99px;
  }
  .form-section .input-wrapper input, .form-section .input-wrapper textarea {
    width: 307px;
  }
}
@media screen and (max-width: 580px) {
  .form-section .input-wrapper input, .form-section .input-wrapper textarea {
    width: 224px;
  }
}


.box {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

.box::before {
  content: "";
  position: absolute;
  background: linear-gradient(#cc00ff,#0ef );
  inset: 0 120px;
  transition: 0.5s;
  animation: anime 4s linear infinite;
}

@keyframes anime {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --color: #1a052b;
}

.box:hover::before {
  inset: 0 0;
}

.box::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: var(--color);
  border-radius: 50%;
  z-index: 1;
}

.card {
  position: absolute;
  inset: 30px;
  border: 6px solid black;
  border-radius: 50%;
  z-index: 3;

  perspective: 800px;
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;

  backface-visibility: hidden;

  transition: 0.5s linear;
}

.front img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.back h2 {
  font-size: 1.8rem;
}

.back p {
  font-size: 1.1rem;
  margin: 10px;
}

.back a {
  background: transparent;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #fff;
  margin-top: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  transition: 0.5s;
}

.back a:hover {
  letter-spacing: 0.2rem;
  background: linear-gradient(90deg, #6616d0, #ac34e7);
  transition: 0.4s ease-in-out;
}

/* normal position */
.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(-180deg);
}

/* Hover position */
.box:hover .front {
  transform: rotateY(180deg);
}

.box:hover .back {
  transform: rotateY(0deg);
}

@media (min-width:870px) and (max-width:1090px) {
  .box {
    width: 316px;
    height: 355px;
  }
}